.barra{
    height: 22vh;
    background-color: #1d71b7;
    display: flex;
    justify-content: center;
}

.logo{
    height: 12vh;
    margin: 1.5vh;
}

.navbar-scrolled {
    top: 0; /* La barra se moverá a la parte superior cuando el usuario haga scroll */
}


@media (max-width: 768px) {
    /* Estilos para pantallas con un ancho máximo de 768px */
    .logo{
        height: 10Vh;
        margin: 2.5vh;
    }

    .barra{
        height: 24vh;
    }
  }